.tech-parent-column {  
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.tech-parent-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h1 {
    text-align: center;
}

.emoji-icon {
    font-size: 22px; /* specify the font size of the icons */
    vertical-align: middle; /* align the icon with the text vertically */
    font-style: normal; /* make sure the icon is not italic */
}
  
td {
    text-align: left;
}

.page {
    display: flex!important;
    justify-content: center!important;
}

.jumbo-home {
    height: 70vh!important;
    padding: 0!important;
    padding-top: 6rem!important;
  }