
.flexPage {
    background-color: rgba(32, 32, 32, .7)!important;
    padding-left: 3%!important;
}

a {
    height: 4rem!important;
}

a:hover {
    color: rgb(255, 255, 255)!important;
}

.mail-div {
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    align-items: center!important;
    height: 100%!important;
}

.mail-div-p {
    color: rgb(255, 255, 255)!important;
    font-size: 1.5rem!important;
    text-decoration: none!important;    
}
.mail-div-a {
    font-size: 1.5rem!important;
    text-decoration: none!important;
}