.page-inner {
    display: block!important;
    max-width: 50rem!important;
    height: 60vh!important;
    overflow-y: scroll;
    border: 2px solid silver;
    padding: 10px;
}

.jumbo {
    height: auto!important;
    padding: 4rem 2rem!important;
    padding-top: 6rem!important;
}

.container {
    max-width: 80vw;
}